head
  title Node Video Chat
  link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="/dist/app.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
body
  audio#call-ringtone(style="display:none;" src="/audio/call-ringtone.mp3")
  audio#calling-ringtone(style="display:none;" src="/audio/calling-ringtone.mp3")
  audio#contact-sound(style="display:none;" src="/audio/contact.mp3")
  audio#hangup(style="display:none;" src="/audio/hangup.mp3")
  audio#message-sound(style="display:none;" src="/audio/message.mp3")
  div#entry-point
    !=html
  script(type="text/javascript")
    | window.__APOLLO_STATE__ = !{state};
    | window.__JWT_TOKEN__ = !{token};
  script(type="text/javascript" src="/dist/vendor.js")
  script(type="text/javascript" src="/dist/app.js")
