@import './vars';

@mixin calc($property, $string) {
  #{$property}: unquote('calc(#{$string})');
}

@mixin webchat-gradient($property, $deg) {
  #{$property}: linear-gradient($deg, $webchat-orange, $webchat-magenta);
}

@mixin webchat-text {
  @include webchat-gradient('background', 0deg);
  -webkit-text-fill-color: transparent;
  font-family: $montserrat;
  -webkit-background-clip: text;
}
