@import './base';

.contact-request-search-result {
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  min-height: 56px;
  padding: 0 5px;
  width: unquote('calc(100% - 10px)');

  .user {
    img {
      border-radius: 50%;
      border: 1px solid $webchat-magenta;
      height: 40px;
      margin-right: 10px;
      width: 40px;
    }

    .user-info {
      .username {
        color: $dark-text;
      }

      .email {
        color: $grey;
        font-size: 10px;
      }
    }
  }

  button {
    margin-right: 5px;
    width: 35px;
  }
}
