@import './base';

.contact-requests-search-results {
  background: $white;
  border-bottom: 1px solid $light-grey;
  left: 0;
  max-height: unquote('calc(100% - 107px)');
  overflow-y: scroll;
  position: absolute;
  right: 0;
}
