@import './base';

.contact-request-headroom {
  background: $white;
  box-shadow: 0px 0px 2px $light-grey;
  padding: 5px 0 8px;
  width: 100%;

  .contact-request-heading {
    font-size: 14px;
  }
}
