@import './base';

.contact-request-search-result {
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  min-height: 56px;
  padding: 3px 8px;
  width: unquote('calc(100% - 16px)');

  .loader-container {
    height: 50px;
    margin-right: 27px;
    transform: scale(.75);
  }

  button {
    @include webchat-gradient('background', 15deg);
    border-radius: 50%;
    height: 35px;
    margin-right: 5px;
    width: 35px;

    i {
      color: $white;
      font-size: 24px;
      margin-top: 2px;
    }
  }
}
