@import './base';

.contact-container {
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  min-height: 56px;
  padding: 3px 8px;
  width: unquote('calc(100% - 16px)');

  .user {
    img {
      border-radius: 50%;
      border: 1px solid $webchat-magenta;
      height: 40px;
      margin-right: 10px;
      width: 40px;
    }

    .user-info {
      .username {
        color: $dark-text;
      }

      .email {
        color: $grey;
        font-size: 10px;
        max-width: 150px;
        word-wrap: break-word;
      }
    }
  }

  .controls {
    button {
      @include webchat-gradient('background', 10deg);
      border-radius: 50%;
      font-size: 16px;
      height: 30px;
      margin-left: 10px;
      width: 30px;

      &:hover {
        box-shadow: 0 0 3px $grey;
      }

      i {
        color: $white;
      }
    }
  }
}
