@import './base';

.contact-container {
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  min-height: 56px;
  padding: 3px 8px;
  width: unquote('calc(100% - 16px)');

  .controls {
    justify-content: flex-end;
    button {
      @include webchat-gradient('background', 10deg);
      border-radius: 50%;
      font-size: 16px;
      height: 30px;
      margin-left: 10px;
      width: 30px;

      &:hover {
        box-shadow: 0 0 3px $grey;
      }

      i {
        color: $white;
      }
    }
  }
}
