@import './base';

.contact-list-headroom {
  background: $white;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 0 2px $light-grey;
  padding: 5px 0 12px;

  .webchat-text {
    font-size: 16px;
  }

  .contacts-search {
    width: 100%;

    .user-search-bar {
      width: 75%;
    }
  }
}
