@import './base';

.contact-list-container {
  .contact-list {
    max-height: unquote('calc(100% - 106px)');
    overflow-y: auto;
  }

  .no-contacts {
    margin-top: 40px;

    button {
      margin-top: 15px;
      width: 140px;
    }
  }
}
