@import './base';

.login-container {
  width: 100%;
  height: unquote('calc(100% - #{$top-bar-height})');

  .login {
    background: $white;
    border-radius: 15px;
    border-bottom: 2px solid fade-out($light-grey, .5);
    box-shadow: 0px 0px 2px fade-out($light-grey, .3);
    margin-bottom: 30px;
    height: 350px;
    width: 350px;

    .login-heading {
      font-size: 32px;
      margin: 30px 0 10px;
    }

    .sub-heading {
      margin-bottom: 15px;

      a {
        font-size: 16px;
      }
    }

    input {
      margin-bottom: 15px;
      width: 240px;
    }

    button {
      margin-top: 25px;
    }
  }
}
