@import './base';

.open-message-wrapper {
  .message {
    background: lighten($light-grey, 5%);
    border-radius: 15px;
    box-shadow: 0px 2px 2px fade-out($light-grey, .6);
    color: $dark-grey;
    margin-bottom: 7px;
    padding: 10px;
  }

  &.sent-by-current-user {
    justify-content: flex-end;

    .message {
      background: $webchat-orange;
      color: $white;
    }
  }
}
