@import './base';

.open-messages-container {
  flex-grow: 2;
  overflow: hidden;
  position: relative;

  .open-messages {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 10px 12px 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:after {
    bottom: 0;
    box-shadow: inset 0 -4px 4px $background-grey;
    content: ' ';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
