@import './base';

.open-message-wrapper {
  align-items: flex-start;

  .message {
    background: lighten($light-grey, 5%);
    border-radius: 15px;
    box-shadow: 0px 2px 2px fade-out($light-grey, .6);
    color: $dark-grey;
    margin-bottom: 4px;
    max-width: 75%;
    padding: 10px;
    word-wrap: break-word;
  }

  &.sent-by-current-user {
    align-items: flex-end;

    .message {
      background: $webchat-orange;
      color: $white;
    }
  }

  .read-at-message {
    color: $grey;
    font-size: 10px;
    margin-bottom: 4px;
  }
}
