@import './base';

.sidebar-container {
  box-shadow: -1px 0px 2px fade-out($black, .5);
  height: 100%;
  min-width: 300px;
  overflow-y: hidden;
  width: 25%;
  z-index: 10;

  .sidebar-children-container {
    height: 100%;
  }
}
