@import './base';

.status-indicator {
  border-radius: 50%;
  height: 7px;
  margin-right: 10px;
  width: 7px;

  &.offline {
    background: none;
    border: 1px solid $grey;
  }

  &.available {
    background: $available-green;
    border: 1px solid $available-green;
  }
}
