@import './base';

.user-info {
  img {
    @include user-info-img;
  }

  .username {
    color: $darker-grey;
  }

  .grey-text {
    color: $grey;
    font-size: 10px;
    max-width: 150px;
    word-wrap: break-word;
  }
}
