@import './base';

.video-chat-available {
  @include video-chat-background-gradient;
  flex-direction: column;

  .instructions {
    color: $white;
    font-size: 14px;
    margin-bottom: 20px;

    i {
      color: $white;
    }
  }
}
