html
  head
    title.
      Video Chat App
    link(href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css', rel='stylesheet')
  body
    div#entry-point
    script(type='text/javascript', src='bundle.js')
