@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
  background: #eee;
  font-family: Roboto;
}

.container {
  padding: 10px;
  background: #ccc;
  color: #111;
  width: 600px;
  left: 0;
  right: 0;
  margin: { left: auto; right: auto; }
  text-align: center;
  padding: { bottom: 70px; }

  button {
    margin: 10px;
    background: #eee;
    cursor: pointer;
  }
  button:disabled {
    cursor: default;
  }

  input {
    border: solid 1px #555;
  }

  .chat-container {
    height: 370px;
  }

  .message-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 80px;
    width: 200px;
  }

  .message-display {
    position: relative;
    background: #fff;
    border: 1px solid #555;
    padding: 10px;
    color: #000;
    text-align: left;
    height: 200px;
    overflow: { x: hidden; y: auto; }
    margin-bottom: 10px;
  }
  .message-input {
    width: 200px;
  }
  .msg-tag {
    font-size: 0.75em;
    font-family: 'Roboto Mono';
    color: #555;
  }

  .video-container {
    position: absolute;
    width: 370px;
    left: 10px;
    top: 80px;
    background: #222;
    border: solid 1px #666;
    width: 370px;
    height: 370px;

    #peer-video {
      max: { width: 370px; height: 370px; }
      min: { width: 370px; height: 370px; }
    }


    #own-video-container {
      position: absolute;
      right: 10px;
      bottom: 10px;
      border: solid 2px #000;
      width: 80px;
      background: #000;

      video {
        max: { width: 80px; height: 80px; }
        min: { width: 80px; height: 80px; }
      }
    }
  }
}
